script(type='text/javascript', src='https://code.jquery.com/jquery-1.10.2.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js')
script(type='text/javascript', src='https://code.jquery.com/ui/1.11.3/jquery-ui.js')
script(type='text/javascript', src='code.js')
link(rel='stylesheet', href='https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/default.min.css')
link(href='style.css', rel='stylesheet', type='text/css')
link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic|Sigmar+One', rel='stylesheet', type='text/css')