img(class = "konami", src = "dinosaur.png")
img(class = "konami", src = "dinosaur.png")
img(class = "konami", src = "dinosaur.png")
img(class = "konami", src = "dinosaur.png")
img(class = "konami", src = "dinosaur.png")
img(class = "konami", src = "dinosaur.png")
img(class = "konami", src = "dinosaur.png")
img(class = "konami", src = "dinosaur.png")
img(class = "konami", src = "dinosaur.png")
